{erl_opts, [debug_info]}.
{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.4.0"}}},
    {cowlib, {git, "https://github.com/ninenines/cowlib", {tag, "2.3.0"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
    {kind, {git, "https://github.com/arnfred/kind"}}
]}.

{plugins, [rebar3_run]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [kind_rest]}
]}.

{relx, [{release, {kind_rest, "0.1.0"},
         [kind_rest, kernel]},

        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}
       ]
}.

{profiles, [
    {prod, [{relx, [{dev_mode, false},
                    {include_erts, true}]}
     ]}
]}.
